table {
    width: 100%;
}
.customers-container {
    margin: 20px 50px;
    display: block;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.icon-delete {
    cursor: pointer;
    margin-left: 10px;
}
.customer-paginator {
   margin: 0 50px;
}